.frame {
    width: 750rem;
    position: relative;
}
.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 112rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 164rem;
    background-color: #FFF;
}
.nav-item1 {
    width: 96rem;
    height: 80rem;
    background: url('../../static/导航创建工单.svg') no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}
.nav-item2 {
    width: 96rem;
    height: 80rem;
    background: url('../../static/导航我的工单.svg') no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}
.item1-active {
    background: url('../../static/导航创建工单active.svg') no-repeat;
    background-size: 100% auto;
}
.item2-active {
    background: url('../../static/导航我的工单active.svg') no-repeat;
    background-size: 100% auto;
}
